@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="col-12 mt-3">
        <button class="btn btn-outline-white w-100">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </button>
    </div>
    <div class="col-12 mt-3">
        <button class="btn btn-outline-success w-100">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </button>
    </div>
}


